


/* Ahmad */
/* this style to change header in all section */
.style__h{
  font-size: 35px;
  color: black;
  letter-spacing: 1px;
   font-family: cursive;
}



/*end */
.header{
  width: 100%;
}
.header-overlay {

  margin: auto;
  width: 100%;
/* background-color: #000; */
background-image: url("./well.jpg");
background-repeat: no-repeat;

background-position:center;
height: 500px;}

.header-overlay p,h1,h2{
    text-align: center;
    color: white;

}
.header-overlay h1{
  font-size: 3em;
}
.header-overlay h2{
  font-size: 2em;
}
.header-overlay p{
  font-size: 1em;
}
.header-overlay p{
  line-height: 30px;
  margin:auto 10px;
}
.headline{
padding-top: 12%;
}

/* @media only screen and (max-width: 600px) {
  .header-overlay {
  height: 300px;}
} */

.logo {

  width:40%;
  color: black;

  display: inline-block;
    vertical-align: middle;
}

.nav{
    /* position: fixed; */
  display: inline-block;
    width:58%;
    vertical-align: middle;
margin-right: 1%;
}
.nav ul{
  float: right;

}
.logo h1{
  padding-left: 4%;
  color: #000;
  text-align: left;
}
div .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
div .nav ul li {
    float: left;
}
.nav ul li a{
    display: block;
    width: 60px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;

}

.logo a{

    color: #fff;

}

@media (max-width: 650px) {


  .nav{
    display: inline-block;
      width:95%;
  margin: auto;
  }

  div .nav ul {
      float: left;
      padding: 2%;
  }

  .nav ul li a{
      width: 60px;
      padding: 7px 8px;

  }
  .logo {
    width:100%;
/* margin-left: 35%; */
  }
  .logo h1{
    text-align: center;
  }
  .header-overlay h1{
    font-size: 2em;
  }
  .header-overlay h2{
    font-size: 1.2em;
  }
  .header-overlay {
  height: 300px;}

}
#footer{
  background-color:#0D47A1;

width: auto;

}

.footer{
text-align: center;
padding-top: 3px;
padding-bottom: 3px;
 color:white;
 font-size:20px;

}
h4{
  font-weight: normal;

}


/* Farah */

.service-image{
  width: 90%;
  height: 150px;
}

.img-para {
  margin: 30px;
}

.images {
  text-align: center;
}

#service-header {
  text-align: center;

}
.unordered{
  list-style: none;
  float:left;
  width: 24%;
  margin-bottom: 40px;

}
@media only screen and (max-width: 1000px) {

  .unordered{
    width: 46%;
  }

}
@media only screen and (max-width: 600px) {

  .unordered{
    width: 80%;
  }

}


/* Marwa */


.box{
width: 99%;
  margin: auto;
    padding:auto;
    padding-left: 10px;
  background-color:#FFEBEE;

}
.one{
  margin: 7px;
  padding: 5px;
  display: inline-block;

  border-radius:10px;
  width: 22%;
  text-align: left;
}

.one a{
  text-decoration: none;
  color:black;
}
.one a:hover{
  text-decoration:underline;

}
.one img {
  border-radius: 90%;
  border: 1px solid #0D47A1;
  width:200px;
  height:200px;
  display: block;
    margin-left: auto;
    margin-right: auto;


}
.team{
  color:black;
  text-align: center;
  text-shadow:2px 2px #0D47A1;
  font-size: 50px;
}
.one span{
  font-size:20px;
  font-style: italic;
  font-weight: bold;
  color:#E91E63;
  font-family: cursive;
}
.ul{
  list-style: square inside url("sqpurple.gif");
}



@media only screen and (max-width: 1000px)  {
.team h1{
  margin-top: 9000px;
}
.box{
  width: 100%;
  margin:auto;
}
  .one{
      width:45%;
  }
}
ul li{
  font-size: 20px;
  list-style: none;
  padding-left: 90px;

}


/* Eman */
.contact .inputs{
  width: 50%;
height: 40px;
   border: 1px solid #ccc;
 border-radius: 4px;

}

.contact{
  width: 100%;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;



}



.input--Display{
  display:block;
  padding-top: 15px;

}
.a{
font-size: 24px;
padding-bottom: 10px;
}

.input__text{
  width: 50%;
  height: 100px;
  border: 1px solid #ccc;
border-radius: 4px;
}
.input__Sub{
  height: 50px;
  width: 120px;
  border: 1px solid #ccc;
border-radius: 4px;
background-color: #536DFE;
font-size: 25px;
color:white;

}
@media only screen and (max-width: 1000px) {
.contact .inputs,.input__text {
    width: 100%;
}
}
